.register {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    height: 50px;
    width: 148px;
    background-color: #B4B4B4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    border: none;
    margin: 50px 0 25px 0;
    color: white;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px;
}

.content {
    font-size: 22px;
    line-height: 1.27;
    text-align: center;
    margin-bottom: 32px;
}

.img {
    background-color: #E0E0E0;
    position: relative;
    z-index: 4;
    bottom: 0;
    right: 0;
}
@media screen and (min-width: 768px) {
    .imgCard {
    display: flex;
    justify-content: flex-end;
    }
}

.input {
    background: #F8F8F8;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    padding: 16px;
}

.label:not(:last-child) {
    margin-bottom: 8px;
}

.select {
    margin-bottom: 11px;
}

.takePhoto {
    background: #F8F8F8;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px;
    width: 100%;
    text-align: center;
}

.load {
    position: absolute;
    padding: 14px;
}
@media screen and (min-width: 768px) {
    .upload {
    margin-top: 48px;
    }
}

.block {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .form {
    margin: 0 194px;
    }
}
@media screen and (min-width: 1024px) {
    .form {
    margin: 0 322px;
    }
}